<?xml version='1.0' encoding='utf-8'?>
<plugin 
    id="cordova-plugin-ios-security-suite" 
    version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>cordova-plugin-ios-security-suite</name>
    <js-module name="IOSSecuritySuite" src="www/cordova-plugin-ios-security-suite.js">
        <clobbers target="IOSSecuritySuite" />
    </js-module>
    <platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="IOSSecuritySuite">
        <param name="ios-package" value="IOSSecuritySuite" />
        </feature>
    </config-file>
    <source-file src="src/ios/IOSSecuritySuite.swift" />
    </platform>
</plugin>
